[submodule "indexa-git/l10n-dominicana"]
	path = indexa-git/l10n-dominicana
	url = git@github.com:indexa-git/l10n-dominicana.git
	branch = 13.0

[submodule "indexa-git/external-service-addons"]
	path = indexa-git/external-service-addons
	url = git@github.com:indexa-git/external-service-addons.git
	branch = 13.0

[submodule "l10n_do_tss_report"]
	path = l10n_do_tss_report
	url = git@github.com:xmarts/l10n_do_tss_report.git
	branch = 13.0

[submodule "l10n_do_hr_payroll"]
	path = l10n_do_hr_payroll
	url = git@github.com:xmarts/l10n_do_hr_payroll.git
	branch = 13.0
